In [2]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [3]:
# Read Data
data =  pd.read_csv("german_credit.csv", sep=",")
data

,Creditability,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,...,Duration in Current address,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,24,2,3,1987,1,3,2,3,...,4,1,21,3,1,1,2,2,1,1
996,0,1,24,2,0,2303,1,5,4,3,...,1,1,45,3,2,1,3,1,1,1
997,0,4,21,4,0,12680,5,5,4,3,...,4,4,30,3,3,1,4,1,2,1
998,0,2,12,2,3,6468,5,1,2,3,...,1,4,52,3,2,1,4,1,2,1
999,0,1,30,2,2,6350,5,5,4,3,...,4,2,31,3,2,1,3,1,1,1

In [4]:
y = data["Foreign Worker"]
x = data.drop(["Foreign Worker"], axis = 1)

In [6]:
def SVM(x_data, y_data):
    # split the dataset into 0.6 trainig and 0.4 testing 
    x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size = 0.4, random_state = 0)
    # train the SVM classifier with linear kernel
    SVM_clf = LinearSVC()
    SVM_clf.fit(x_train,y_train)
    y_predict = SVM_clf.predict(x_test)
    accuracy = accuracy_score(y_test, y_predict)
    return accuracy

In [17]:
# repeat training process 10 times and take average accuracy of 10 accuracies
def SVM_avg(x_data, y_data):
    accuracy_arr = []
    for i in range(10):
        accuracy_arr.append(SVM(x_data, y_data))
    accuracy_avg = np.average(accuracy_arr)
    return accuracy_avg

In [28]:
# call fn and get result of average accuracy
print(" Average accuracy of data = ", SVM_avg(x, y))

C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

 Average accuracy of data =  0.8695

C:\Users\Pavilion\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [34]:
# preprocessing steps to standardize and normalize the dataset
x_scaled = x
# standardize features by subtracting the mean and scaling to unit variance
for i in x_scaled:
    Mean = np.mean(x_scaled[i])
    x_scaled[i] = x_scaled[i] - Mean
    
# normalization all dataset to range -1, 1
scaler = MinMaxScaler(feature_range=(-1, 1))
scaler.fit(x_scaled)
x_scaled = scaler.transform(x_scaled)

In [35]:
# repeat the SVM model with new scaled data
print("Average accuracy of scaled data = ", SVM_avg(x_scaled, y))

Average accuracy of scaled data =  0.9724999999999999

The scaled data is better than the non scaled data. The accuracy of the scaled data is higher. Since the svm considers the changes of 1 to be constant with respect to multiple features. the change of one is significant. therefore the scaled data gives better accuracy